<header class="ll_header"
        [class.top-fixed]="topFixed"
        [ngClass]="{ 'bg-gray-50 shadow': topFixed && isScrolled }">
  <div class="container">
    <div class="flex items-center">
      <div class="flex items-center">
        <a class="logo"
           [routerLink]="['']"><img src="./assets/images/logo.png"
                                    alt="Logo"/></a>
        <ul class="flex item-center ml-5"
            *ngIf="!isLessThenLargeDevice && menuList && menuList.length">
          <li *ngFor="let menu of menuList">
            <a mat-button
               [routerLink]="[menu.path]"
               routerLinkActive="bg-gray-100"
               class="text-lg font-bold py-2 px-5">{{ menu.name }}</a>
          </li>
          <li *ngIf="isAuthenticated && isAdmin">
            <a mat-button
               [routerLink]="['/dashboard']"
               routerLinkActive="bg-gray-100"
               class="text-lg font-bold py-2 px-5">Dashboard</a>
          </li>
        </ul>
      </div>
      <button
             *ngIf="isLessThenLargeDevice"
             (click)="toggleSidenav.emit()"
             class="_sidenav__toggle ml-auto md:ml-3 ms-sm-3"
             mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="hidden items-center md:flex ml-auto"
           *ngIf="!isAuthenticated">
        <a [routerLink]="['/auth/login']"
           mat-raised-button
           color="primary"
           class="text-lg font-bold py-2 px-5 ">Login</a>
        <div class="pl-2"></div>
        <a [routerLink]="['/auth/signup']"
           mat-raised-button
           color="warn"
           class="text-lg font-bold py-2 px-5 ">Sign-up</a>
      </div>
      <div class="hidden items-center md:flex ml-auto"
           *ngIf="User">
        <a [routerLink]="['/dashboard']"
           class="text-lg font-bold py-2 px-5">{{ User.username }}</a>
        <a (click)="logOut()"
           mat-raised-button
           color="warn"
           class="text-lg font-bold py-2 px-5 ml-2">LogOut</a>
      </div>
    </div>
  </div>
</header>
