<mat-card class="ll-product">
  <img mat-card-image [src]="product?.imgUrl" alt="{{ product.name }}"
       style="width: 100%; margin: 0 0 20px"/>
  <mat-card-content class="flex">
    <div class="flex-none w-10">
      <!--              <img src="{{ product?.created_by?.avatar }}" alt="product?.created_by?.name"/>-->
    </div>
    <div class="flex-grow pl-3">
      <h4 class="ll-product__creator text-gray-500">{{ product?.ref }}</h4>
      <h2 class="ll-product__name">
        <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
      </h2>
      <h4 class="ll-product__creator">{{ product?.shortDescription }}</h4>
      <div class="flex justify-between mt-5">
        <div class="ll-product__price-label">Prices:</div>
        <div class="ll-product__price text-accent font-bold">{{ product.price }} DH</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="ll-product__action flex justify-between">
    <div class="flex-1 text-center flex items-center justify-center">
      <mat-icon color="warn">star</mat-icon>
      /5
    </div>
    <div class="flex-1 text-center">
      <a [routerLink]="['/products', product.id]" mat-raised-button color="warn" class="px-4">Read More</a>
    </div>
  </mat-card-actions>
</mat-card>
